 <!-- < method="post" action="params[:id]/matches"> -->
<div>
  <div class="row">
    <div class="large-12 columns">
      <% 9.times do |match| %>
      <div><%=  @match_results[match] %></div>
      <% end %>
    </div>
  </div>
</div>
<!-- click to send snap -->
