 <form method="post" action="params[:id]/profile">
    <div>
      <div class="row">
        <div class="large-12 columns">
          <input type="text" id="input" name="age" placeholder="age"/>
          <input type="text" id="input" name="city" placeholder="city"/>
          <input type="text" id="input" name="state" placeholder="state"/>
          <input type="text" id="input" name="gender" placeholder="gender"/>
          <input type="text" id="input" name="gender_pref" placeholder="gender preference"/>
          <input type="text" id="input" name="description" placeholder="description"/>
        </div>

        <div>
          <input type="submit" value="update_profile" class="button" style="margin-left: 15px; background-color: #1abc9c;">
        </div>
      </div>
    </div>
  </form>
