 <form method="post" action="/signup">
    <div>
      <div class="row">
        <div class="large-12 columns">
          <input type="text" id="input" name="username" placeholder="username"/>
          <input type="text" id="input" name="password" placeholder="password"/>
        </div>

        <div>
          <input type="submit" value="sign up" class="button" style="margin-left: 15px; background-color: #1abc9c;">
        </div>
      </div>
    </div>
  </form>
