
<a ng-href='/#/users/{{id}}/matches'>view matches</a>
<a ng-href='/#/users/{{id}}/profile'>go to profile</a>
<div class="container cardholder">
  <div class="row">
    <div class="span4">
      <div class="[ info-card ]" ng-repeat="user in users | limitTo : 9">
          <img style="width: 100%" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/t1.0-9/417157_4897339837183_626079670_n.jpg" />
          <div class="[ info-card-details ] animate">
            <div class="[ info-card-header ]">
              <h1> {{user.username}} </h1>
              <h3>{{user.description}}</h3>
            </div>
            <div class="[ info-card-detail ]">

              <p>{{user.age}}</p>
              <div class="social">
                <button type="button" ng-click="remove(id, user.id, false)" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-remove-circle">Dislike</span>
                </button>

                <button type="button" ng-click="remove(id, user.id, true)" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-ok-circle">Like</span>
                </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
