<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" ng-model="user.username" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">age</label>
    <input type="text" ng-model="user.age" class="form-control" id="exampleInputPassword1" placeholder="age">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">city</label>
    <input type="text" ng-model="user.city" class="form-control" id="exampleInputPassword1" placeholder="city">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">state</label>
    <input type="text" ng-model="user.state" class="form-control" id="exampleInputPassword1" placeholder="state">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">gender</label>
    <input type="text" ng-model="user.gender" class="form-control" id="exampleInputPassword1" placeholder="gender">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">gender_pref</label>
    <input type="text" ng-model="user.gender_pref" class="form-control" id="exampleInputPassword1" placeholder="gender_pref">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">description</label>
    <input type="text" ng-model="user.description" class="form-control" id="exampleInputPassword1" placeholder="description">
  </div>
  <button type="submit" ng-click="profile()" class="btn btn-default">Submit</button>
</form>
